body{
  background-color:white;
  font-family: 'Poiret One', cursive;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}
#topbar{
  width:auto;
  height:75px;
  background-color: hsl(240, 100%, 25%);
  margin-top:-10px;
}
#tb-logo{
  font-size:40px;
  margin-top:inherit;
  margin-bottom:inherit;
  color:white;
  margin-left:10px;
}
#tb-slogan{
  font-size:20px;
  color:white;
  margin-top:auto;
  margin-left:5px;
}
.tb-buttons{
  background-color:hsl(240, 100%, 25%);
  border:0px;
  color:white;
  font-size:20px;
  font-family: 'Poiret One', cursive;
  float:right;
  display:inline;
  height:75px;
  width:250px;
}
.tb-buttons:hover{
  background-color:hsl(240, 100%, 11%);
}
#hero-logo{
  color:white;
  font-size:100px;
  text-align:center;
  background-color:hsl(240, 100%, 25%);
  margin-bottom:inherit;
}
#hero-text{
  color:white;
  font-size:25px;
  text-align:center;
  background-color:hsl(240, 100%, 25%);
}
#title{
  margin-left:5px;
  font-size:40px;
  color:black;
}
.bodyp{
  margin-left:5px;
  color:black;
  font-size:20px;
}
.subtitle{
  margin-left:5px;
  color:black;
  font-size:30px;
}
.bold{
  margin-left:5px;
  font-size:20px;
}
#container{
  height:100%;
}
#footer{
  width:auto;
  height:40px;
  background-color:hsl(240, 100%, 25%);
  position:relative;
}
.footert{
  color:white;
}
#disc{
  position:relative;
  float:left;
  padding-left:20px;
  padding-top:10px;
}
#priv{
  position:relative;
  float:left;
  padding-left:20px;
  padding-top:10px;
}
#tm{
  position:relative;
  float:right;
  margin-right:10px;
  margin-bottom:0px;
  margin-top:10px;
}