body{
 background-repeat: no-repeat;
 background-size: auto;
 font-family: 'Poiret One', cursive;
 margin-left:0px;
 margin-right:0px;
 margin-bottom:0px;
}
#topbar{
 width:auto;
 height:75px;
 background-color: hsl(240, 100%, 25%);
 margin-top:-10px;
}
#tb-logo{
 font-size:40px;
 margin-top:inherit;
 margin-bottom:inherit;
 color:white;
 margin-left:10px;
}
#tb-slogan{
 font-size:20px;
 color:white;
 margin-top:auto;
 margin-left:5px;
}
.tb-buttons{
 background-color:hsl(240, 100%, 25%);
 border:0px;
 color:white;
 font-size:20px;
 font-family: 'Poiret One', cursive;
 float:right;
 display:inline;
 height:75px;
 width:250px;
}
.tb-buttons:hover{
 background-color:hsl(240, 100%, 11%);
}
#hero-logo{
 color:white;
 font-size:100px;
 text-align:center;
 background-color:hsl(240, 100%, 25%);
 margin-bottom:inherit;
}
#hero-text{
 color:white;
 font-size:25px;
 text-align:center;
 background-color:hsl(240, 100%, 25%);
}
#hawaiigraphcontainer{
 background-image:url("../img/suicide.jpg");
 color: white;
 margin: auto;
 padding: 10px;
 width: 100%
 height: 100%;
}
#hawaiigraphheader{
 text-align: center;
}
#five{
 height:30px;
 margin-top:40px;
 width: 90%;
 position: relative;
 left: 100px;
 background-color: #6495ED;
}
#seven{
 height:30px;
 margin-top:40px;
 width: 80%;
 position: relative;
 left: 100px;
 background-color: #6495ED;
}
#nine{
 height:30px;
 margin-top:40px;
 width: 88%;
 position: relative;
 left: 100px;
 background-color: #6495ED;
}
#eleven{
 height:30px;
 margin-top:40px;
 width: 60%;
 position: relative;
 left: 100px;
 background-color: #6495ED;
}
#thirteen{
 height:30px;
 margin-top:40px;
 width: 75%;
 position: relative;
 left: 100px;
 background-color: #6495ED;
}
#fifteen{
 height:30px;
 margin-top:40px;
 width: 70%;
 position: relative;
 left: 100px;
 background-color: #6495ED;
}
.yeartag{
 position: relative;
 right: 80px;
 top: 0px;
}
.percentage{
 position: relative;
 bottom: 47px;
 text-align: right;
 color: white;
}
#misccontainer{
 position: relative;
 bottom: 20px;
}
#countygraphcontainer{
 color: black;
 position: relative;
 float:left;
 width: 50%;
 height: 300px;
}
#countygraphheader{
 position: relative;
 text-align: center;
}
#nationalgraphcontainer{
 color: black;
 position: relative;
 float:right;
 width: 50%;
 height: 300px;
}
#nationalgraphheader{
 position: relative;
 text-align: center;
}
#suicidetext{
 color: white;
 margin: auto;
 width: 50%;
}
#footer{
 width:100%;
 height:40px;
 background-color:hsl(240, 100%, 25%);
 position: absolute;
 bottom: 0px;
}
.footert{
 color:white;
}
#disc{
 position:relative;
 float:left;
 padding-left:20px;
 padding-top:10px;
}
#priv{
 position:relative;
 float:left;
 padding-left:20px;
 padding-top:10px;
}
#tm{
 position:relative;
 float:right;
 margin-right:10px;
 margin-bottom:0px;
 margin-top:10px;
}