body{
  background-color:white;
  font-family: 'Poiret One', cursive;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}
#hero{
  height:700px;
  background-image:url("../img/hero1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#topbar{
  width:auto;
  height:75px;
  background-color: hsl(240, 100%, 25%);
  margin-top:-10px;
}
#tb-logo{
  font-size:40px;
  margin-top:inherit;
  margin-bottom:inherit;
  color:white;
  margin-left:10px;
}
#tb-slogan{
  font-size:20px;
  color:white;
  margin-top:auto;
  margin-left:5px;
}
.tb-buttons{
  background-color:hsl(240, 100%, 25%);
  border:0px;
  color:white;
  font-size:20px;
  font-family: 'Poiret One', cursive;
  float:right;
  display:inline;
  height:75px;
  width:250px;
}
.tb-buttons:hover{
  background-color:hsl(240, 100%, 11%);
}
#hero-logo{
  color:white;
  font-size:100px;
  text-align:center;
  background-color:hsl(240, 100%, 25%);
  margin-bottom:inherit;
}
#hero-text{
  color:white;
  font-size:25px;
  text-align:center;
  background-color:hsl(240, 100%, 25%);
}
.body-text{
  font-size:40px;
}
#stories{
  background-color:hsl(240, 100%, 25%);
  width:auto;
  height:auto;
}
#story-title{
  color:white;
  font-size:50px;
  margin-bottom:inherit;
  margin-left:10px;
}
#story-text{
  color:white;
  font-size:25px;
  margin-bottom:5px;
  margin-left:5px;
}
#slideshow{
  height:800px;
  background-image:url("../img/slide2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.slidebutton{
  height:50px;
  width:25px;
  background-color:hsl(240, 100%, 25%);
  color:white;
  border:0px;
}
.slidebutton:hover{
  background-color:hsl(240, 100%, 11%);
}
#slideleft{
  position:absolute;
  top:50%;
  left:0%;
  transform:translate(0%, 50%);
  -ms-transform:translate(-0%, -50%);
}
#slideright{
  position:absolute;
  top:50%;
  right:0%;
  transform:translate(0%, 50%);
  -ms-transform:translate(0%, -50%);
}
.storyslide{
  height:600px;
  width:1000px;
  background-color:hsl(240, 100%, 25%);
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
}
.storyt{
  color:white;
  font-size:40px;
  text-align:center;
}
.storyp{
  color:white;
  font-size:30px;
  padding-right:20px;
  padding-left:20px;
}
.storypic{
  height:250px;
  width:250px;
  float:left;
  padding-left:20px;
  padding-right:20px;
}
#footer{
  width:auto;
  height:40px;
  background-color:hsl(240, 100%, 25%);
}
.footert{
  color:white;
}
#disc{
  position:relative;
  float:left;
  padding-left:20px;
  padding-top:10px;
}
#priv{
  position:relative;
  float:left;
  padding-left:20px;
  padding-top:10px;
}
#tm{
  position:relative;
  float:right;
  margin-right:10px;
  margin-bottom:0px;
  margin-top:10px;
}