body{
  background-color:white;
  font-family: 'Poiret One', cursive;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-top:0px;
}
#hero{
  height:700px;
  background-image:url("../img/hero1.jpg");
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top:0px;
}
.sticky{
  position:sticky;
  overflow:hidden;
  top:0px;
  z-index: 3;
}
#topbar{
  width:auto;
  height:75px;
  background-color: hsl(240, 100%, 25%);
  margin-bottom:0px;
  margin-top:0px;
  padding-bottom:0px;
}
#tb-logo{
  font-size:40px;
  margin-top:inherit;
  margin-bottom:inherit;
  color:white;
  margin-left:10px;
}
#tb-slogan{
  font-size:20px;
  color:white;
  margin-top:auto;
  margin-left:5px;
  margin-bottom:0px;
}
.tb-buttons{
  background-color:hsl(240, 100%, 25%);
  border:0px;
  color:white;
  font-size:20px;
  font-family: 'Poiret One', cursive;
  float:right;
  display:inline;
  height:75px;
  width:250px;
}
.tb-buttons:hover{
  background-color:hsl(240, 100%, 11%);
}
#hero-logo{
  color:white;
  font-size:100px;
  text-align:center;
  background-color:hsl(240, 100%, 25%);
  margin-bottom:inherit;
}
#hero-text{
  color:white;
  font-size:25px;
  text-align:center;
  background-color:hsl(240, 100%, 25%);
}
.body-text{
  font-size:40px;
}
#asset{
}
.boxes{
  height:400px;
  width:200px;
  border:1px solid black;
  position:relative;
  padding:16px;
  display:inline-block;
  vertical-align:top;
}
#footer{
  width:auto;
  height:40px;
  background-color:hsl(240, 100%, 25%);
}
.footert{
  color:white;
}
#disc{
  position:relative;
  float:left;
  padding-left:20px;
  padding-top:10px;
}
#priv{
  position:relative;
  float:left;
  padding-left:20px;
  padding-top:10px;
}
#tm{
  position:relative;
  float:right;
  margin-right:10px;
  margin-bottom:0px;
  margin-top:10px;
}
#undercon{
  background-color:red;
  width:auto;
  height:50px;
}
#undercon-text{
  font-size:45px;
  color:white;
  text-align:center;
  margin-top: 0;
}
/*#undercon-button{
  position:relative;
  float:right;
  height:20px;
  width:20px;
  background-color:red;
  border-width:0px;
}*/