body{
  background-color:white;
  font-family: 'Poiret One', cursive;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-top:0px;
}
#hero{
  height:700px;
  background-image:url("../img/hero2.jpg");
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top:0px;
}
.sticky{
  position:sticky;
  overflow:hidden;
  top:0px;
  z-index: 3;
}
#topbar{
  width:auto;
  height:75px;
  background-color:hsla(197, 71%, 57%, 1);
  margin-bottom:0px;
  margin-top:0px;
  padding-bottom:0px;
}
#tb-logo{
  font-size:40px;
  margin-top:inherit;
  margin-bottom:inherit;
  color:white;
  margin-left:10px;
}
#tb-slogan{
  font-size:20px;
  color:white;
  margin-top:auto;
  margin-left:5px;
  margin-bottom:0px;
}
.tb-buttons{
  background-color:hsla(197, 71%, 57%, 1);
  border:0px;
  color:white;
  font-size:20px;
  font-family: 'Poiret One', cursive;
  float:right;
  display:inline;
  height:75px;
  width:250px;
}
.tb-buttons:hover{
  background-color:hsl(240, 100%, 11%);
  cursor:pointer;
}
#hero-logo{
  color:white;
  font-size:100px;
  text-align:center;
  background-color:hhsla(197, 71%, 57%, 1);
  margin-bottom:inherit;
}
#hero-text{
  color:white;
  font-size:25px;
  text-align:center;
  background-colorhsl(55,71%,57%));
}
.body-text{
  font-size:40px;
}
.body-text.redwarning{
  background-color:;
  color:white;
  margin-top:0px;
}
#row{
  background-image:url("../img/bottom1.jpg");
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.boxes{
  display:inline-block;
  float:left;
  width:33.33%;
  height:400px;
  border:0px solid white;
  background-color:hsla(0, 0%, 0%, 0);
  text-align:center;
}
#row:after {
  content: "";
  display:table;
  clear:both;
}
.boxtitle{
  color:white;
  background-color:hsla(197, 71%, 57%, 1);
  margin-bottom:0px;
}
.boxpara{
  color:white;
  background-color:hsla(197, 71%, 57%, 1);
  margin-top:0px;
}
.boxbutton{
  height:50px;
  width:100px;
  background-color:white;
  border:0px;
  font-family: 'Poiret One', cursive;
  color:black;
  font-weight:900;
}
.boxbutton:hover{
  background-color:hsla(197, 71%, 57%, 1);
  cursor:pointer;
}
#footer{
  width:auto;
  height:40px;
  background-color:hsla(197, 71%, 57%, 1);
}
.footert{
  color:white;
}
#disc{
  position:relative;
  float:left;
  padding-left:20px;
  padding-top:10px;
}
#priv{
  position:relative;
  float:left;
  padding-left:20px;
  padding-top:10px;
}
#tm{
  position:relative;
  float:right;
  margin-right:10px;
  margin-bottom:0px;
  margin-top:10px;
}